*{
    margin:0;
    padding:0;
}
header{
    background-color:rgb(245, 210, 0);
    height:40px;
    display:flex;
    justify-content:space-around;
    padding:20px;
    font-size:25px;
}
.logo{
    color:#0d036e;
}
.nav{
    display:flex;
    justify-content:space-between;
    gap:15px;
    font-size:20px;
}
.nav a{
    text-decoration:none;
    color:#0644c2;
}

.info{
    background-image:url(images/download.jpeg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:400px;
    padding:30px;
    
    
}.content{
    backdrop-filter:blur(20px);
    background-color: rgba(47, 47, 47,0.3);
    border-radius:30px;
    max-width: 450px;
    padding:20px;
    display:flex;
    align-items: center;
    flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight:bolder;
    color:#ffffff;
    text-align:left;
}
.btn{
    width:300px;
    height:100px;
    backdrop-filter:blur(5px);
    background-color: rgba(255, 203, 116, .2);
    border-radius:30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:20px;
    color:rgb(0, 53, 114);
    font-size:25px;
    gap:20px;
}
button{
    width:150px;
    height:50px;
    border-radius: 20px;
    background-color: #ffe367;
    transition:.5s ease-in;

}
button a{
    text-decoration: none;
    color:red;
    font-size:20px;
    font-weight: bold;
}
button:hover{
    background-color:#fdeda7;
    cursor: pointer;
    
}
.content h2{
    color:rgb(248, 192, 95);
    font-family:Norse;
    font-weight:bolder;
    font-size:45px;
    margin:0;
}
.quote{
    background-color: #e5e7eb;
    height:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content:space-around;
    padding:20px;
}
.quote p{
    font-size:25px;
}
.quote h3{
    align-self:flex-end;
}
.signup{
    background-image:url(images/bc.jpg);
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
}
footer{
    background-color: #2f2f2f;
    height:70px;
    text-align: center;  

}
.btm{
    padding-top:15px;
    color:#e5e7eb
}
